/* @import '~antd/dist/antd.css'; */

.login-form {
  max-width: 300px;
  /* margin-left: 200px; */
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}


.form-div {
    position: 'absolute';
    left: '50%';
    top: '50%';
    transform: 'translate(-50%,-50%)';
    /* padding: 24px;
    padding-top: 150px; */
    /* align: center; */
    /* height: 100%; */
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  /* .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  } */
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .site-layout .site-layout-background-head {
    background: #001529;
  }

.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
  }
[data-theme="dark"] .site-card-border-less-wrapper {
    background: #303030;
}
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

.logo {
  width: 200px;
  min-height: 31px;
  margin: 16px 24px 16px 0;
  float: left;
  background-image: url("../images/navbar_logo.svg");
  background-repeat: no-repeat;
}

.table-striped-rows th,
.table-striped-rows td {
  border-bottom: 1px solid #dedddd !important;
}

.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}

.table-striped-rows thead {
  background-color: #f1f1f1;
}